@import "app/presentation/styles/colors.module.scss";

.modalContainer {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  &[data-style="isOpen"] {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    animation: fadein 0.5s;
  }

  .modalContent {
    background-color: $white;
    border: 2px solid $grayXL;
    border-radius: 1rem;
    height: fit-content;
    max-height: 90vh;
    margin: 0.5rem;
    padding: 1.5rem;
    position: relative;
    overflow-y: auto;
    transition: all 0.5s;
    .modalCloseIcon {
      color: $grayM;
      display: flex;
      justify-content: flex-end;
      position: sticky;
      top: 0;
      > span {
        position: absolute;
        top: -1rem;
        right: -1rem;
      }
      &:hover {
        cursor: pointer;
        > span {
          color: $grayD;
        }
      }
    }
  }
}

.isClose {
  -webkit-animation: fadeout 0.5s;
  -moz-animation: fadeout 0.5s;
  animation: fadeout 0.5s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
