@import 'app/presentation/styles/colors.module.scss';

.inputContainer {
  background-color: $white;
  border: 1px solid $grayL;
  border-radius: 8px;
  display: flex;
  align-items: center;
  line-height: 1.875rem;
  position: relative;
  z-index: 1;

  input {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    color: $grayXD;
    display: flex;
    font-size: 1rem;
    padding: 0.57rem 0.5rem;
    max-height: 42px;
    width: 100%;
    &:focus {
      outline: none;
    }
    &:hover {
      border-color: $grayD;
    }
  }
  .inputIcon {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 8.5px;
    &:focus {
      all: unset;
      background: transparent;
      border: 1px solid $blueM;
      border-radius: 6px;
      display: flex;
      padding: 0;
      position: absolute;
      right: 0.44rem;
    }
    &:hover {
      cursor: pointer;
      > svg {
        cursor: pointer;
      }
    }
  }
}
