@import "app/presentation/styles/colors.module.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  color: $grayD;
}

p,
span {
  color: $grayM;
}

$sm: 480px;
$md: 768px;
