@import "app/presentation/styles/colors.module.scss";

.button {
  background-color: $white;
  border: 2px solid $blueL;
  border-radius: 2rem;
  color: $blueL;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  max-height: 2rem;
  width: fit-content;
  max-width: 16rem;
  padding: 1rem;
  &:hover {
    background-color: $blueM;
    border-color: $blueM;
  }
  &[data-style="mainButton"] {
    background-color: $blueL;
    border-color: $blueL;
    color: $white;
    &:hover {
      background-color: $blueM;
      border-color: $blueM;
    }
  }
}
