.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: fit-content;
  .contentContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    .searchContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 4rem;
      position: relative;
      height: 6rem;
      min-height: 6rem;
      width: 100%;
      > img {
        object-fit: cover;
        object-position: bottom;
        height: 6rem;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
      }
    }
    .cardWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
      padding: 2rem;
      height: 100%;
    }
  }
}
