@import "app/presentation/styles/colors.module.scss";
@import "app/presentation/styles/global-styles.module.scss";

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: fit-content;
  .contentContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: fit-content;
    .searchContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 4rem;
      position: relative;
      height: 6rem;
      min-height: 6rem;
      width: 100%;
      > img {
        object-fit: cover;
        object-position: bottom;
        height: 6rem;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
      }
    }
    .cardContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      padding: 2rem;
      height: 100%;
      .cardWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        height: 100%;
        max-width: 66.5rem;
      }
    }
  }
  footer {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    width: 100%;
    .footerMainButtons {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      width: 100%;
      .previousPageButton,
      .nextPageButton {
        height: 2rem;
        width: 2rem;
        img {
          height: 2rem;
          width: 2rem;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .previousPageButton img {
        rotate: (-90deg);
      }
      .nextPageButton img {
        rotate: (90deg);
      }
      .emptyPageButton {
        height: 2rem;
        width: 2rem;
      }
      .allPageButtons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        span {
          border-right: 1px solid $grayD;
          padding-right: 0.5rem;
          &[data-style="pageActive"] {
            color: $redD;
            font-weight: bold;
          }
          &:last-child {
            border-right: none;
            padding-right: 0;
          }
          &:hover {
            color: $redM;
            cursor: pointer;
          }
        }
      }
    }
    .backToPageOneButton {
      p {
        font-size: 0.8rem;
        &:hover {
          color: $redM;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: $md) {
  .mainContainer {
    .contentContainer {
      .searchContainer {
        padding: 0 2rem;
      }
      .cardContainer {
        gap: 0.5rem;
        padding: 2rem 1rem;
      }
    }
  }
}

@media (max-width: $sm) {
  .mainContainer {
    footer {
      .footerMainButtons {
        flex-direction: column;
        width: fit-content;
        .previousPageButton {
          align-self: flex-start;
        }
        .nextPageButton {
          align-self: flex-end;
        }
      }
    }
  }
}
